In [3]:
# MODELO DE MACHINE LEARNING

In [4]:
# Importando as bibliotecas

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Importando o dataset

In [7]:
datos_dane = pd.read_csv('C:\\Users\Omar\Desktop\INMERSION\\archivos_dane\datos_dane.csv')
datos_dane.head(5)

,DIRECTORIO,NOMBRE_LOCALIDAD,NOMBRE_ESTRATO,NVCBP4,NVCBP14A,NVCBP14D,NVCBP14E,NVCBP14G,NVCBP15A,NVCBP15C,...,NHCLP5,NHCLP8AB,NHCLP8AE,NHCLP10,NHCLP11,NHCLP29_1A,NHCLP29_1C,NHCLP29_1E,NHCLP29_1F,NPCHP4
0,3004368.0,Usaquén,USAQUÉN: Paseo de Los Libertadores + La Uribe,1,2,2,2,2,2,2,...,1,NaN,NaN,2,2,NaN,NaN,NaN,NaN,9.0
1,3004369.0,Usaquén,Usaquén,1,2,2,2,2,2,2,...,2,NaN,NaN,3,2,NaN,NaN,NaN,NaN,11.0
2,3004375.0,Chapinero,CHAPINERO: Pardo Rubio + Chapinero,2,2,2,2,2,2,1,...,2,NaN,NaN,2,2,NaN,NaN,1.0,NaN,11.0
3,3004380.0,Usaquén,Los Cedros,1,2,2,2,2,2,2,...,1,NaN,NaN,3,2,NaN,NaN,NaN,NaN,9.0
4,3004383.0,Fontibón,Ciudad Salitre Occidental,1,2,2,2,2,1,2,...,2,NaN,NaN,2,2,NaN,NaN,NaN,NaN,11.0

# ANALISIS DE DATOS EXPLORATORIOS

In [8]:
datos_dane.shape

(9857, 55)

In [9]:
datos_dane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9857 entries, 0 to 9856
Data columns (total 55 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DIRECTORIO        9857 non-null   float64
 1   NOMBRE_LOCALIDAD  9857 non-null   object
 2   NOMBRE_ESTRATO    9857 non-null   object
 3   NVCBP4            9857 non-null   int64
 4   NVCBP14A          9857 non-null   int64
 5   NVCBP14D          9857 non-null   int64
 6   NVCBP14E          9857 non-null   int64
 7   NVCBP14G          9857 non-null   int64
 8   NVCBP15A          9857 non-null   int64
 9   NVCBP15C          9857 non-null   int64
 10  NVCBP15F          9857 non-null   int64
 11  NVCBP15G          9857 non-null   int64
 12  NVCBP16A3         9857 non-null   int64
 13  NVCBP16A4         9857 non-null   int64
 14  NPCKP17           9857 non-null   float64
 15  NPCKP18           9857 non-null   float64
 16  NPCKP23           9558 non-null   float64
 17  NPCKP44A          9857 non-null   float64
 18  NPCKPN62A         9857 non-null   float64
 19  NPCKPN62B         9558 non-null   float64
 20  NPCKP64A          9857 non-null   int64
 21  NPCKP64E          9857 non-null   int64
 22  NHCCP3            9857 non-null   float64
 23  NHCCP6            9857 non-null   float64
 24  NHCCP7            9558 non-null   float64
 25  NHCCP8_1          1434 non-null   float64
 26  NHCCP8_2          1434 non-null   float64
 27  NHCCP8_3          1434 non-null   float64
 28  NHCCP8_6          1434 non-null   float64
 29  NHCCP8_7          1434 non-null   float64
 30  NHCCP8_8          1434 non-null   float64
 31  NHCCP8_9          1434 non-null   float64
 32  NHCCP9            9558 non-null   float64
 33  NHCCP11           9857 non-null   int64
 34  NHCCP11A          1177 non-null   float64
 35  NHCCP12           8680 non-null   float64
 36  NHCCP41           9857 non-null   int64
 37  NHCCP41A          4987 non-null   float64
 38  NHCCP47A          9857 non-null   int64
 39  NHCCP47B          9857 non-null   int64
 40  NHCLP2A           9857 non-null   int64
 41  NHCLP2B           9857 non-null   int64
 42  NHCLP2C           9857 non-null   int64
 43  NHCLP2E           9857 non-null   int64
 44  NHCLP4            9857 non-null   int64
 45  NHCLP5            9857 non-null   int64
 46  NHCLP8AB          288 non-null    float64
 47  NHCLP8AE          288 non-null    float64
 48  NHCLP10           9857 non-null   int64
 49  NHCLP11           9857 non-null   int64
 50  NHCLP29_1A        410 non-null    float64
 51  NHCLP29_1C        143 non-null    float64
 52  NHCLP29_1E        1272 non-null   float64
 53  NHCLP29_1F        152 non-null    float64
 54  NPCHP4            9447 non-null   float64
dtypes: float64(28), int64(25), object(2)
memory usage: 4.1+ MB

# DICCIONARIO DE TRADUCCION DE CODIGOS DIRECTORIO

In [10]:
dic_dane = {
       'NVCBP4':'CONJUNTO_CERRADO',
       'NVCBP14A':'FABRICAS_CERCA', 'NVCBP14D':'TERMINALES_BUS', 'NVCBP14E':'BARES_DISCO',
       'NVCBP14G':'OSCURO_PELIGROSO', 'NVCBP15A':'RUIDO', 'NVCBP15C':'INSEGURIDAD',
       'NVCBP15F':'BASURA_INADECUADA', 'NVCBP15G':'INVASION','NVCBP16A3':'MOV_ADULTOS_MAYORES',
       'NVCBP16A4':'MOV_NINOS_BEBES',
       'NPCKP17':'OCUPACION','NPCKP18':'CONTRATO','NPCKP23':'SALARIO_MES',
       'NPCKP44A':'DONDE_TRABAJA', 'NPCKPN62A':'DECLARACION_RENTA',
       'NPCKPN62B':'VALOR_DECLARACION', 'NPCKP64A':'PERDIDA_TRABAJO_C19',
       'NPCKP64E':'PERDIDA_INGRESOS_C19',
       'NHCCP3':'TIENE_ESCRITURA', 'NHCCP6':'ANO_COMPRA', 'NHCCP7':'VALOR_COMPRA', 'NHCCP8_1':'HIPOTECA_CRED_BANCO',
       'NHCCP8_2':'OTRO_CRED_BANCO', 'NHCCP8_3':'CRED_FNA', 'NHCCP8_6':'PRESTAMOS_AMIGOS',
       'NHCCP8_7':'CESANTIAS', 'NHCCP8_8':'AHORROS', 'NHCCP8_9':'SUBSIDIOS',
       'NHCCP9':'CUANTO_PAGARIA_MENSUAL', 'NHCCP11':'PLANES_ADQUIRIR_VIVIENDA',
       'NHCCP11A':'MOTIVO_COMPRA', 'NHCCP12':'RAZON_NO_ADQ_VIV', 'NHCCP41':'TIENE_CARRO','NHCCP41A':'CUANTOS_CARROS',
       'NHCCP47A':'TIENE_PERROS', 'NHCCP47B':'TIENE_GATOS', 'NHCLP2A':'VICTIMA_ATRACO', 'NHCLP2B':'VICTIMA_HOMICIDIO',
       'NHCLP2C':'VICTIMA_PERSECUSION',
       'NHCLP2E':'VICTIMA_ACOSO', 'NHCLP4':'COMO_VIVE_ECON', 'NHCLP5':'COMO_NIVEL_VIDA',
       'NHCLP8AB':'REACCION_OPORTUNA_POLICIA', 'NHCLP8AE':'COMO_TRANSPORTE_URBANO', 'NHCLP10':'SON_INGRESOS_SUFICIENTES',
       'NHCLP11':'SE_CONSIDERA_POBRE', 'NHCLP29_1A':'MED_C19_TRABAJO',
       'NHCLP29_1C':'MED_C19_CAMBIO_VIVIENDA', 'NHCLP29_1E':'MED_C19_ENDEUDAMIENTO',
       'NHCLP29_1F':'MED_C19_VENTA_BIENES','NPCHP4':'NIVEL_EDUCATIVO'
       }

In [11]:
datos_dane = datos_dane.rename(columns=dic_dane)
datos_dane.columns

Index(['DIRECTORIO', 'NOMBRE_LOCALIDAD', 'NOMBRE_ESTRATO', 'CONJUNTO_CERRADO',
       'FABRICAS_CERCA', 'TERMINALES_BUS', 'BARES_DISCO', 'OSCURO_PELIGROSO',
       'RUIDO', 'INSEGURIDAD', 'BASURA_INADECUADA', 'INVASION',
       'MOV_ADULTOS_MAYORES', 'MOV_NINOS_BEBES', 'OCUPACION', 'CONTRATO',
       'SALARIO_MES', 'DONDE_TRABAJA', 'DECLARACION_RENTA',
       'VALOR_DECLARACION', 'PERDIDA_TRABAJO_C19', 'PERDIDA_INGRESOS_C19',
       'TIENE_ESCRITURA', 'ANO_COMPRA', 'VALOR_COMPRA', 'HIPOTECA_CRED_BANCO',
       'OTRO_CRED_BANCO', 'CRED_FNA', 'PRESTAMOS_AMIGOS', 'CESANTIAS',
       'AHORROS', 'SUBSIDIOS', 'CUANTO_PAGARIA_MENSUAL',
       'PLANES_ADQUIRIR_VIVIENDA', 'MOTIVO_COMPRA', 'RAZON_NO_ADQ_VIV',
       'TIENE_CARRO', 'CUANTOS_CARROS', 'TIENE_PERROS', 'TIENE_GATOS',
       'VICTIMA_ATRACO', 'VICTIMA_HOMICIDIO', 'VICTIMA_PERSECUSION',
       'VICTIMA_ACOSO', 'COMO_VIVE_ECON', 'COMO_NIVEL_VIDA',
       'REACCION_OPORTUNA_POLICIA', 'COMO_TRANSPORTE_URBANO',
       'SON_INGRESOS_SUFICIENTES', 'SE_CONSIDERA_POBRE', 'MED_C19_TRABAJO',
       'MED_C19_CAMBIO_VIVIENDA', 'MED_C19_ENDEUDAMIENTO',
       'MED_C19_VENTA_BIENES', 'NIVEL_EDUCATIVO'],
      dtype='object')

# VERIFICAMOS COLUMNAS

In [12]:
datos_dane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9857 entries, 0 to 9856
Data columns (total 55 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DIRECTORIO                 9857 non-null   float64
 1   NOMBRE_LOCALIDAD           9857 non-null   object
 2   NOMBRE_ESTRATO             9857 non-null   object
 3   CONJUNTO_CERRADO           9857 non-null   int64
 4   FABRICAS_CERCA             9857 non-null   int64
 5   TERMINALES_BUS             9857 non-null   int64
 6   BARES_DISCO                9857 non-null   int64
 7   OSCURO_PELIGROSO           9857 non-null   int64
 8   RUIDO                      9857 non-null   int64
 9   INSEGURIDAD                9857 non-null   int64
 10  BASURA_INADECUADA          9857 non-null   int64
 11  INVASION                   9857 non-null   int64
 12  MOV_ADULTOS_MAYORES        9857 non-null   int64
 13  MOV_NINOS_BEBES            9857 non-null   int64
 14  OCUPACION                  9857 non-null   float64
 15  CONTRATO                   9857 non-null   float64
 16  SALARIO_MES                9558 non-null   float64
 17  DONDE_TRABAJA              9857 non-null   float64
 18  DECLARACION_RENTA          9857 non-null   float64
 19  VALOR_DECLARACION          9558 non-null   float64
 20  PERDIDA_TRABAJO_C19        9857 non-null   int64
 21  PERDIDA_INGRESOS_C19       9857 non-null   int64
 22  TIENE_ESCRITURA            9857 non-null   float64
 23  ANO_COMPRA                 9857 non-null   float64
 24  VALOR_COMPRA               9558 non-null   float64
 25  HIPOTECA_CRED_BANCO        1434 non-null   float64
 26  OTRO_CRED_BANCO            1434 non-null   float64
 27  CRED_FNA                   1434 non-null   float64
 28  PRESTAMOS_AMIGOS           1434 non-null   float64
 29  CESANTIAS                  1434 non-null   float64
 30  AHORROS                    1434 non-null   float64
 31  SUBSIDIOS                  1434 non-null   float64
 32  CUANTO_PAGARIA_MENSUAL     9558 non-null   float64
 33  PLANES_ADQUIRIR_VIVIENDA   9857 non-null   int64
 34  MOTIVO_COMPRA              1177 non-null   float64
 35  RAZON_NO_ADQ_VIV           8680 non-null   float64
 36  TIENE_CARRO                9857 non-null   int64
 37  CUANTOS_CARROS             4987 non-null   float64
 38  TIENE_PERROS               9857 non-null   int64
 39  TIENE_GATOS                9857 non-null   int64
 40  VICTIMA_ATRACO             9857 non-null   int64
 41  VICTIMA_HOMICIDIO          9857 non-null   int64
 42  VICTIMA_PERSECUSION        9857 non-null   int64
 43  VICTIMA_ACOSO              9857 non-null   int64
 44  COMO_VIVE_ECON             9857 non-null   int64
 45  COMO_NIVEL_VIDA            9857 non-null   int64
 46  REACCION_OPORTUNA_POLICIA  288 non-null    float64
 47  COMO_TRANSPORTE_URBANO     288 non-null    float64
 48  SON_INGRESOS_SUFICIENTES   9857 non-null   int64
 49  SE_CONSIDERA_POBRE         9857 non-null   int64
 50  MED_C19_TRABAJO            410 non-null    float64
 51  MED_C19_CAMBIO_VIVIENDA    143 non-null    float64
 52  MED_C19_ENDEUDAMIENTO      1272 non-null   float64
 53  MED_C19_VENTA_BIENES       152 non-null    float64
 54  NIVEL_EDUCATIVO            9447 non-null   float64
dtypes: float64(28), int64(25), object(2)
memory usage: 4.1+ MB

# CALCULO DEL PROMEDIO DE ALGUNAS VARIABLES

In [13]:
datos_dane.groupby('NOMBRE_ESTRATO' )[['CONJUNTO_CERRADO','INSEGURIDAD','TERMINALES_BUS','BARES_DISCO','RUIDO','OSCURO_PELIGROSO','SALARIO_MES','TIENE_ESCRITURA','PERDIDA_TRABAJO_C19','PERDIDA_INGRESOS_C19','PLANES_ADQUIRIR_VIVIENDA']].mean().head()

,CONJUNTO_CERRADO,INSEGURIDAD,TERMINALES_BUS,BARES_DISCO,RUIDO,OSCURO_PELIGROSO,SALARIO_MES,TIENE_ESCRITURA,PERDIDA_TRABAJO_C19,PERDIDA_INGRESOS_C19,PLANES_ADQUIRIR_VIVIENDA
NOMBRE_ESTRATO,,,,,,,,,,,
20 de Julio,1.893333,1.186667,1.853333,1.893333,1.560000,1.840000,1.493860e+06,1.160000,1.920000,1.680000,1.800000
Américas,1.383178,1.252336,1.981308,1.785047,1.607477,1.915888,2.672138e+06,1.056075,1.971963,1.719626,1.850467
Apogeo,1.650794,1.301587,1.746032,1.936508,1.682540,2.000000,1.837583e+06,1.079365,1.920635,1.650794,1.920635
Arborizadora,1.430108,1.301075,1.946237,1.881720,1.688172,1.838710,1.802297e+06,1.032258,1.881720,1.612903,1.817204
BARRIOS UNIDOS: Parque Salitre + Doce de Octubre,1.367347,1.326531,1.989796,1.979592,1.704082,1.867347,2.943731e+06,1.051020,1.948980,1.704082,1.938776

# TRANSFORMAR EN BINARIO LAS VARIABLES

In [14]:
datos = datos_dane[['NOMBRE_ESTRATO','CONJUNTO_CERRADO','INSEGURIDAD','TERMINALES_BUS','BARES_DISCO','RUIDO','OSCURO_PELIGROSO','SALARIO_MES','TIENE_ESCRITURA','PERDIDA_TRABAJO_C19','PERDIDA_INGRESOS_C19','PLANES_ADQUIRIR_VIVIENDA']].replace(2 , 0).head()

In [15]:
datos.head()

,NOMBRE_ESTRATO,CONJUNTO_CERRADO,INSEGURIDAD,TERMINALES_BUS,BARES_DISCO,RUIDO,OSCURO_PELIGROSO,SALARIO_MES,TIENE_ESCRITURA,PERDIDA_TRABAJO_C19,PERDIDA_INGRESOS_C19,PLANES_ADQUIRIR_VIVIENDA
0,USAQUÉN: Paseo de Los Libertadores + La Uribe,1,0,0,0,0,0,99.0,1.0,0,0,0
1,Usaquén,1,0,0,0,0,0,10000000.0,1.0,0,0,0
2,CHAPINERO: Pardo Rubio + Chapinero,0,1,0,0,0,0,4000000.0,1.0,0,1,0
3,Los Cedros,1,0,0,0,0,0,5000000.0,1.0,0,1,0
4,Ciudad Salitre Occidental,1,0,0,0,1,0,3500000.0,1.0,0,1,1